<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gcc.fns.mapper.AppUserMapper">


    <select id="selectByPrimaryUserKey" resultType="com.gcc.fns.model.entity.AppUser">
        select id,`username`
        from `t_app_user`
        where id = #{id}
    </select>


    <select id="getCloudList" resultType="com.gcc.fns.model.entity.AppUser">
        SELECT id,`username` FROM t_app_user
        <if test="list != null">
            WHERE id not in
            <foreach collection="list" open="(" close=")" separator="," item="i">
                #{i}
            </foreach>
        </if>
    </select>


    <select id="selectByIdAvatar" resultType="java.lang.String">
        select `avatar`
        from `t_app_user`
        where id = #{id}
    </select>


</mapper>