<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 填入java下所在包名-->
<mapper namespace="com.gcc.fns.mapper.SessionListMapper">
    <resultMap id="BaseResultMap" type="com.gcc.fns.model.entity.SessionList">
        <id column="id"  property="id" />
        <result column="user_id"  property="userId" />
        <result column="to_user_id"  property="toUserId" />
        <result column="list_name"  property="listName" />
        <result column="un_read_count"  property="unReadCount" />
        <result column="avatar" property="avatar" />
        <result column="last_content" property="lastContent"/>
        <result column="last_time" property="lastTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, user_id,to_user_id, list_name, un_read_count,avatar,last_content,last_time
    </sql>

    <select id="selectByPrimaryKey" resultType="com.gcc.fns.model.entity.SessionList">
        select
        <include refid="Base_Column_List" />
        from t_session_list
        where id = #{id}
    </select>

    <select id="selectIdByUser" resultType="java.lang.Long">
        SELECT id FROM t_session_list WHERE user_id = #{fromId} AND to_user_id = #{toUserId}
    </select>


    <select id="selectUserIdByUserId" resultType="java.lang.Long">
        SELECT to_user_id FROM t_session_list WHERE user_id = #{id}
    </select>

    <select id="selectByUserId" resultType="com.gcc.fns.model.entity.SessionList">
        SELECT * FROM t_session_list WHERE user_id = #{id}
    </select>



    <insert id="insert">
        insert into t_session_list (user_id, to_user_id,list_name,un_read_count,avatar)
        values (#{userId}, #{toUserId}, #{listName},#{unReadCount},#{avatar})
    </insert>

    <update id="addUnReadCount">
        UPDATE t_session_list SET un_read_count = un_read_count + 1,last_content = #{lastContent},last_time= #{lastTime}
        WHERE user_id = #{userId} AND to_user_id = #{toUserId}
    </update>

    <delete id="deleteByPrimaryKey">
        delete from t_session_list
        where id = #{id}
    </delete>

    <update id="updateUnReadCount">
        UPDATE t_session_list SET un_read_count = 0
        WHERE user_id = #{fromUserId} AND to_user_id = #{toUserId}
    </update>
</mapper>