<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 填入java下所在包名-->
<mapper namespace="com.gcc.fns.mapper.SessionListMapper">
    <resultMap id="BaseResultMap" type="com.gcc.fns.model.entity.SessionList">
        <id column="id"  property="id" />
        <result column="user_id"  property="userId" />
        <result column="to_user_id"  property="toUserId" />
        <result column="list_name"  property="listName" />
        <result column="un_read_count"  property="unReadCount" />
    </resultMap>
    <sql id="Base_Column_List">
        id, user_id,to_user_id, list_name, un_read_count,avatar
    </sql>

    <select id="selectByPrimaryKey" resultType="com.gcc.fns.model.entity.SessionList">
        select
        <include refid="Base_Column_List" />
        from t_session_list
        where id = #{id}
    </select>

    <select id="selectIdByUser" resultType="java.lang.Long">
        SELECT id FROM t_session_list WHERE user_id = #{fromId} AND to_user_id = #{toUserId}
    </select>




    <select id="selectUserIdByUserId" resultType="java.lang.Long">
        SELECT to_user_id FROM t_session_list WHERE user_id = #{id}
    </select>




    <select id="select" resultType="com.gcc.fns.model.entity.SessionList">
        SELECT * FROM t_session_list
        <trim prefix="WHERE" suffixOverrides="AND">
            <if test="id != null">
                id = #{id},
            </if>
            <if test="userId != null">
                user_id = #{userId},
            </if>
            <if test="toUserId != null">
                to_user_id = #{toUserId},
            </if>
            <if test="listName != null">
                list_name = #{listName},
            </if>
            <if test="unReadCount != null">
                un_read_count = #{unReadCount},
            </if>
        </trim>
    </select>


    <select id="selectByUserId" resultType="com.gcc.fns.model.entity.SessionList">
        SELECT * FROM t_session_list WHERE user_id = #{id}
    </select>



    <insert id="insert">
        insert into t_session_list (user_id, to_user_id,list_name,un_read_count,avatar)
        values (#{userId}, #{toUserId}, #{listName},#{unReadCount},#{avatar})
    </insert>


    <insert id="insertSelective">
        insert into t_session_list
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="toUserId != null">
                to_user_id,
            </if>
            <if test="listName != null">
                list_name,
            </if>
            <if test="unReadCount != null">
                un_read_count,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="userId != null">
                #{userId},
            </if>
            <if test="toUserId != null">
                #{toUserId},
            </if>
            <if test="listName != null">
                #{listName},
            </if>
            <if test="unReadCount != null">
                #{unReadCount},
            </if>
        </trim>

    </insert>


    <insert id="addUnReadCount">
        UPDATE t_session_list SET un_read_count = un_read_count + 1
        WHERE user_id = #{userId} AND to_user_id = #{toUserId}
    </insert>

    <update id="updateByPrimaryKeySelective">
        update t_session_list
        <set>
            <if test="userId != null">
                user_id = #{userId},
            </if>
            <if test="toUserId != null">
                to_user_id = #{toUserId},
            </if>
            <if test="listName != null">
                list_name = #{listName},
            </if>
            <if test="unReadCount != null">
                un_read_count = #{unReadCount},
            </if>
        </set>
        where id = #{id}
    </update>


    <update id="updateByPrimaryKey">
        update t_session_list
        set user_id = #{userId},
            to_user_id = #{toUserId},
            list_name = #{listName},
            un_read_count = #{unReadCount}
        where id = #{id}
    </update>

    <delete id="deleteByPrimaryKey">
        delete from t_session_list
        where id = #{id}
    </delete>


    <update id="updateUnReadCount">
        UPDATE t_session_list SET un_read_count = 0
        WHERE user_id = #{fromUserId} AND to_user_id = #{toUserId}
    </update>
</mapper>